div {
    margin: 20px 0;
}

body {
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

/*a {
    border: 1px solid lightgray;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}*/

#signatureBlock {
    /* border: 1px solid lightgrey; */
    display: inline-block;
    padding: 80px 40px;
    margin: 0 auto;
    top: -40px;
    position: relative;

    background-color: white;
    box-shadow: 0px 9px 16px 0px rgba(128, 128, 128, 0.2);
}

#preview {
    border: 1px solid lightgray;
    min-width: 300px;
    min-height: 134px;
    padding: 15px;
}

.borderman {
    display: inline-block;
    position: relative;
    opacity: 0.999;
    margin: 0.3em;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1rem;

    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borderman.btn-border:before,
.borderman.btn-border:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
    transition: all 0.3s;
}

.borderman.btn-border:hover:after {
    height: calc(100% + (2px * 2));
    border-color: #00aecd;
}

.borderman.btn-border:before {
    width: 0;
    height: 100%;
    border-width: 2px 0 2px 0;
    top: -2px;
    left: -2px;
    transition-delay: 0.05s;
}

.borderman.btn-border:hover:before {
    width: calc(100% + (2px * 2));
    border-color: #00aecd;
}

.borderman.btn-border:hover {
    color: #00aecd;
}

.borderman.btn-border:after {
    width: 100%;
    height: 0;
    border-width: 0 2px 0 2px;
    top: -2px;
    left: -2px;
}

.borderman.btn-border {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: #999;
    font-weight: 400;
}
